* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100vw;
  height: 100vh;
  background: url("https://i.pinimg.com/originals/0e/a3/3d/0ea33df11c43b2bcfbaab9bd01770d9f.jpg");
  background-position: center;
  background-size: cover;
  position: relative;
}

div.container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

div.box {
  width: 60%;
  height: 300px;
  position: absolute;
  border-radius: 10px;
  border: 2px solid #ccc;
  background: transparent;
  backdrop-filter: blur(5px);
  padding: 20px;
  color: white;
}
